:root {
  --container-border-size: 0.5rem;
  --container-height: calc(100vh - 2 * var(--container-border-size));

  font-family:
    system-ui,
    -apple-system,
    'Zen Old Mincho',
    sans-serif;

  font-size: 100%;

  line-height: 1.8;

  font-feature-settings: 'palt';
  font-kerning: auto;

  word-break: normal;
  overflow-wrap: anywhere;
  line-break: strict;

  border: var(--container-border-size) solid #111;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
